<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">

		function getUrlParam(name){
			var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if (r!=null) return unescape(r[2]); return null;
		} 

		var redirect_url = getUrlParam('redirect_url');
		if (redirect_url == null){
			redirect_url="http://jkdns.example.com"
		}

		var set_cookie = function(data){
			document.cookie  = 'jkdns_sso_token=' + data;
			location.href=redirect_url
		};

    </script>

	<script src="https://sso.jk.cn/auth/auth_sso_token.js"></script>

    <script type="text/javascript">
		location.href='https://sso.jk.cn/auth/login?redirect_url=' + redirect_url
    </script>

</head>
</html>
